@tailwind base;
@tailwind components;
@tailwind utilities;

/* HarmonyOS Sans SC Regular*/
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Regular.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

/* HarmonyOS Sans SC Medium*/
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Medium.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

/* HarmonyOS Sans SC Bold*/
@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.a.woff2) format('woff2');
  unicode-range: U+0000-007F, U+0080-00FF, U+3002, U+FF1F, U+FF01, U+FF0C, U+3001, U+FF1B, U+FF1A, U+300C, U+300D, U+300E, U+300F, U+2018, U+2019, U+201C, U+201D, U+FF08, U+FF09, U+3014, U+3015, U+3010, U+3011, U+2014, U+2026, U+2013, U+FF0E, U+300A, U+300B, U+3008, U+3009;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.b.woff2) format('woff2');
  unicode-range: U+4E00-57C3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.c.woff2) format('woff2');
  unicode-range: U+57C4-6187;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.d.woff2) format('woff2');
  unicode-range: U+6188-6B4B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.e.woff2) format('woff2');
  unicode-range: U+6B4C-750F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.f.woff2) format('woff2');
  unicode-range: U+7510-7ED3;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.g.woff2) format('woff2');
  unicode-range: U+7ED4-8897;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.h.woff2) format('woff2');
  unicode-range: U+8898-925B;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.i.woff2) format('woff2');
  unicode-range: U+925C-9C1F;
}

@font-face {
  font-family: 'HarmonyOS Sans SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('HarmonyOS Sans SC'),
    url(https://npm.elemecdn.com/xfb/fonts/HarmonyOS_Sans_SC_Bold.j.woff2) format('woff2');
  unicode-range: U+9C20-9FA5;
}

.dark, [data-theme="dark"] {
  --nextui-background: 0 0% 11%;
}

* {
  scrollbar-color: var(--c-scrollbar);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  border-radius: 0px;
}

:root {
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html.dark {
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: var(--nextui-background);
}

body {
  font-family: Helvetica, HarmonyOS Sans SC, Microsoft YaHei, -apple-system, PingFang SC, Arial, sans-serif;
}